button {
    border-radius: 7px;
background: #1877F2;
width: 150px;
height: 36px;
color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
border: none;
}