header {
    width: 1440px;
    height: 72px;
    background: #FFF;
    display: flex;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
    gap: 520px;
}

nav {
    display: flex;
    gap: 70px;
}

main {
    display: flex;
}

.left_side {
    padding: 35px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: left;
    width: 345px;
height: 1658px;
background: #FFF;
margin-top: 10px;
    
}

.watch_coloumn {
    display: flex;
    flex-direction: column;
    gap: 21px;
    margin-top: 50px;
    width: 320px;
}

.uiux_coloumn {
    display: flex;
    flex-direction: column;
    gap: 21px;
    margin-top: 50px;
    width: 320px;   
}