.middlemiddle {
    width: 720px;
height: 128px;
border-radius: 7px;
background: #FFF;
display: flex;
flex-direction: column;
align-items: center;
padding: 15px 0;
box-sizing: border-box;
justify-content: space-between;
}

.middletop {
    display: flex;
    gap: 8px;
    border-bottom: #E4E6EB 1px;
    padding-bottom: 24px;
    box-sizing: border-box;
    width: 665px;
    align-items: center;
}

.middletop img {
    width: 40px;
height: 40px;
}

.middlebottom {
    display: flex;
    gap: 94px;

}

.input {
    width: 617px;
height: 40px;
border-radius: 31px;
background: #F0F2F5;
color: #65676B;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 13px 10px;
box-sizing: border-box;
display: flex;
align-items: center;
}

.iconname {
    display: flex;
    gap:6px;
    color: #65676B;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}