.confirmholder {
    width: 332px;
    height: 100px;  
    border-radius: 7px;
background: #F9F9F9;
padding: 6px 14px;
box-sizing: border-box;
display: flex;
flex-direction: column;
gap: 5px;
justify-content: space-between;
}

.confirm_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.personand {
    display: flex;
    gap: 4px;
    align-items: center;
    color: #65676B;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.personand img {
    width: 46px;
height: 46px;
}

.confirm_bottom {
    display: flex;
    gap: 15px;
}

.btn1 {
    border-radius: 7px;
background: #E4E6EB;
width: 150px;
height: 36px;
display: flex;
justify-content: center;
align-items: center;
color: #000;
font-family: Arial;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}