.picp {
    border-radius: 7px;
background: #FFF;
box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.18);
width: 170px;
height: 215px;
padding: 5px;
box-sizing: border-box;
display: flex;
flex-direction: column;
gap: 5px;
}

.profilebottom {
    display: flex;
    gap: 3px;
}

p {
    color: #000;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}